
body {
  background-color: #f0f0f0;
  color: #333;
}

.intro {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: #f88527;
}

nav {
  background-color: #555;
  color: #fff;
  padding: 0;
  }

.section  {
  font-weight: bolder;
  font-size: 18px;
}

ul, li {
  list-style-type: none;
  list-style: inside;
  margin-right: 10px;
}

tr {
  text-align: lift; 
  border-bottom: 1px solid #ddd;
}

.tableData {
  padding: 5px;
}

form {
  margin-top: 20px;
  margin-bottom: 5px;
}

fieldset {
  font-size: 18px;
  border: 2px solid black;
}

input, textarea, button {
  inline-size: 100%;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}