<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - Grid</title>
  <link rel="stylesheet" href="./styles/a_grid02.css">
</head>
<body>
  <!--  
      CSS Writing Modes: 왼쪽에서 오른쪽으로 작성

    ! CSS Item 속성
      : 시작 라인과 끝 라인을 지정하여 각각의 라인에 따라 사물을 정렬
      속성
      grid-column-start
      grid-column-end
      gird-rows-start
      gird-rows-end
      >> grid-column
      >> grid-row
  -->
</body>
</html>