body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  text-align: left;
}

header {
  display: flex;
  justify-content: end;
  width: 90%;
  
}

.top > li {
  float: left;
}

nav {
  width: 90%;
  margin-top: 50px;
  position: fixed;
}

nav > div {
  background-attachment: fixed;
}

nav div ul {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  font-size: 25px;
  color: #a3a3a3;
}

nav div ul ul {
  display: none;
  font-size: 18px;
  color: #a3a3a3;
}

nav ul:hover ul {
  display: block; 
  position: absolute;
}


.backgroundImg {
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
}

.hotIssue {
  background-color: antiquewhite;
  height: 400px;
  margin: 30px auto;
}

.hotIssue > .text {
  font-weight: bold;
  font-size: 20px;
  margin-left: 150px;
}

.leftImg {
  float: left;
}


.rightImg {
  float: right;
}

.allTigers {
  display: flex;
  flex-flow: wrap;
  background-color: red;
  position: ;
  height: 1050px;
  margin-left: 150px;
  margin-right: 150px;
}

.allTigers > div {
  object-fit: cover;
  text-align: center;
}

section > .text {
  font-weight: bold;
  font-size: 20px;
  margin-left: 150px;
}

.allTigers > div > div {
  display: flex;
}

#section4 {
}

section > .advertisement {
  background-color: antiquewhite;
  height: 100px;
  padding: 20px;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
}

/* .backgroundImg {
  background-image: url(https://stage.tigers.co.kr/files/banner/2023/02/08/catchphrase_pc.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
} */

footer > div > ul {
  display: flex;
  justify-content: space-evenly;
}

.footer > .ulFooter {
  background-color: #a3a2a228;
  padding: 5px;
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
}

.footer1, .footer2, .footer3 {
  background-color: aqua;
  margin-left: 150px;
}

.copyright {
  background-color: bisque;
  margin-top: 10px;
  margin-left: 150px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin-left: -40px;
}

.teamStore1 {
  background-color: rgb(190, 235, 235);
}

.teamStore1 > a {
  color: red;
  font-weight: bold;
}

.singup1 {
  background-color: bisque;
}

.singup1 > a, .login1 > a {
  color: black;
  font-weight: bold;
}

.login1  {
  background-color: rgb(199, 160, 235);
}

.redEffect {
  color: red;
}