body {
  width: 100%;
  margin: 0 auto;
}



.top, .teamStore {
  border: 1px solid white;
  display: flex;
  justify-content: right;
  flex-flow: row-reverse
  
}

.teamStore {
  border: 1px solid white;
  display: block;
  text-decoration: none;
  color: red;
}

.singup {
  border: 1px solid white;
}

.login  {
  border: 1px solid white;
}

nav {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  columns: #333;
}

#menu {
  font:bold 20px "malgunn gothic";
  width: 1200px;
  height: 80px;
  background: white;
  color: black;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
}

#menu > ul > li {
  float: left;
  width: 140px;
  position: relative;
}

#menu > ul > li > ul {
  width: 130px;
  display: none;
  position: absolute;
  font-size: 14px;
  background: white;
}

#menu > ul > li:hover > ul {
  display:block;
}

#section1 > div {
  width: 200%;
}

.allTigers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.twitterKiatigers {
  
}

.footer>ul>li {
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
}
.ulFooter{}
.privacy{}
.service{}
.operation{}
.email{}
.sponsor{}
.index{}
.snsNaver{}
.snsDaum{}
.snsKakao{}
.snsYoutube{}
.snsInstagram{}
.snsTwitter{}