body {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}

#header {
  display: flex;
  flex-flow: row;
}

#menu {
  display: flex;
  justify-content: center;
}

.teamStore1 {
  background-color: aqua;
}

.singup1 {
  background-color: bisque;
}

.login1  {
  background-color: blueviolet;
}

nav {

}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color:  grey;
}

#menu {
  font:bold 25px "malgunn gothic";
  width: 850px;
  height: 150px;
  line-height: 150px;
}
/* 1024 a_pseudi01 참고 */

#menu1 {
  background: white;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;

  /* 리스트 들여쓰기 */
  margin-left: -30px;

}

#menu1 > ul > li {
  float: left;
  width: 130px;
  position: relative;
}

#menu1 > ul > li > ul {
  width: 130px;
  display: none;
  position: absolute;
  font-size: 18px;
  background: white;
}

#menu1 > ul > li:hover > ul {
  display:block;
}


#menu2 {
  background: white;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
}
ㅎ
#menu2 > ul > li {
  float: left;
  width: 140px;
  position: relative;
}

#menu2 > ul > li > ul {
  width: 130px;
  display: none;
  position: absolute;
  font-size: 18px;
  background: white;
}

#menu2 > ul > li:hover > ul {
  display:block;
}











#section1 > div {
  width: 200%;
}

.twitterKiatigers {
  
}

.footer {
  width: 100%;
}

.footer>ul>li {
  background-color: #a3a2a228;
  padding: 5px;
  height: 50px;
  line-height: 50px;
}
.ulFooter{
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  padding: 0;
}
.privacy{}
.service{}
.operation{}
.email{}
.sponsor{}
.index{}
.snsNaver{}
.snsDaum{}
.snsKakao{}
.snsYoutube{}
.snsInstagram{}
.snsTwitter{}