<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>중첩된 flex box 실습</title>
  <link rel="stylesheet" href="./styles/a_flex_praction.css" />
</head>
<body>
  <header>
    <h1>Complex flex box example</h1>
  </header>

  <main>
    <section>
      <article class="article1">
        <h2>First article</h2>

        <p>First Paragraph</p>
      </article>
      <article class="article2">
        <h2>Second article</h2>

        <p>Second Paragraph</p>
      </article>
      <article class="article3">
        <div class="btn">
          <button class="btn1">Smlle</button>
          <button class="btn2">Laugh</button>
          <button class="btn3">Wink</button>
          <button class="btn4">Shrug</button>
          <button class="btn5">Blush</button>
        </div>
        <div>
          <p>Third article - Second div</p>
        </div>
        <div>
          <p>Third article - Third div</p>
        </div>
      </article>
    </section>
  </main>
</body>
</html>